<configuration>
    <appender name="JTextAreaAppender" class="com.github.leosant.config.view.JTextAreaAppenderInterceptorLog"/>

    <root level="DEBUG">
        <appender-ref ref="JTextAreaAppender"/>
    </root>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %green(%msg%n)</Pattern>
        </layout>
        <appender name="FILE" class="ch.qos.logback.core.FileAppender">
            <file>logs/registry.log</file>
            <append>false</append>
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
